<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta id="vp" name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.onload = function () {
      if (screen.width < 450) {
        var mvp = document.getElementById('vp');
        mvp.setAttribute('content', 'user-scalable=no,width=450');
      }
    }
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/dashboardStudent.css">
  <link rel="stylesheet" href="/css/studentResult.css">
  <style>
    #i {
      display: none;
    }

    @media print {
      #i {
        display: block;
      }
    }

    @page {
      size: auto;
      margin: 0mm;
    }
  </style>

  <title>Result</title>
</head>

<body>
  <header class="header">
    <div class="header__container">

      <a href="/" class="header__logo item1" style="text-decoration: none;">MANAGEMENT</a>
      <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
      </div>
      <div class="item2">Hi, Vaishnavi!</div>
      <div class="header__img">
        V
      </div>
    </div>
  </header>
  <div class="container">

    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/" class="nav__link nav__logo">
            <i class='bx bxs-disc nav__icon'></i>
            <span class="nav__logo-name">Dashboard</span>
          </a>

          <div class="nav__list">
            <a href="/" class="nav__link active">
              <i class='bx bx-home nav__icon'></i>
              <span class="nav__name">Home</span>
            </a>
            <div class="nav__items">
              <h3 class="nav__subtitle">Academics</h3>

              <div class="nav__dropdown">
                <a href="/classes" class="nav__link">
                  <span class="nav__icon iconify" data-icon="mdi:bookshelf"></span>
                  <span class="nav__name">Classes</span>
                </a>
              </div>

              <a href="/schedule" class="nav__link">
                <span class="iconify nav__icon" data-icon="simple-line-icons:calender"></span>
                <span class="nav__name">Schedule</span>
              </a>
              <a href="/assignments" class="nav__link">
                <i class='bx bx-task nav__icon'></i>
                <span class="nav__name">Assignments</span>
              </a>
              <a href="/result" class="nav__link">
                <i class='bx bx-bar-chart-square nav__icon'></i>
                <span class="nav__name">Result</span>
              </a>
            </div>
            <div class="nav__items">
              <h3 class="nav__subtitle">Profile</h3>

              <div class="nav__dropdown">
                <a href="/account" class="nav__link">
                  <i class='bx bx-user nav__icon'></i>
                  <span class="nav__name">My Account</span>
                </a>
              </div>

              <a href="/messages" class="nav__link">
                <i class='bx bx-message-rounded nav__icon'></i>
                <span class="nav__name">Messages</span>
              </a>
            </div>
          </div>
        </div>

        <a href="/login" class="nav__link nav__logout">
          <i class='bx bx-log-out nav__icon'></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>

    <div id="content-area" style="text-align:center; margin-top: 40px;">
      <section style="margin-top: 30px">
        <div class="studentContainer">
          <p class="text-sm-start">Name : Student Name</p>
          <p class="text-xl-start">
            Scholar Number: <span id="enrolment_no">Scholar Number</span>
          </p>
          <p class="text-xl-start">
            Semester: <span id="sem">7</span>
          </p>
          <p class="text-xl-start">
            Branch : <span id="branch">Branch</span>
          </p>
        </div>
        <br />


        <div class="container">
          <p class="text-xl-start" style="display: inline-block; margin-right: 16px">
            Select Semester
          </p>
          <div class="btn-group" id="dropdown-sem">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdown-button">
              Sem - 1
            </button>
          </div>
        </div>

        <div class="container">
          <button type="button" class="btn btn-outline-dark d-print-none" style="margin-left: 130px; margin-top: 10px"
            id="searchResult">
            Search
          </button>
        </div>
        <br />

        <div class="container" id="table-container">
          <p id="initial" style="text-align: center; color: rgb(181, 181, 182)">
            ---Enter Search Criteria and hit button.----
          </p>
          <button id="print-button" type="button" class="btn btn-outline-dark d-print-none" onclick="window.print()"
            style="margin: 15px 0 20px; display: none">
            Print Result
          </button>
        </div>
      </section>
    </div>
    <%- include('partials/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script> -->
      <script src="/js/studentResult.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>

</html>